<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link type="text/css" th:href="@{css/index.css}" rel="stylesheet"/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <form method="post" action="/checkout">

    <table id="cart" class="table table-hover table-condensed">
        <thead>
        <tr>
            <th style="width:50%">Product</th>
            <th style="width:10%">Price</th>
            <th style="width:8%">Quantity</th>
            <th style="width:22%" class="text-center">Subtotal</th>
            <th style="width:10%"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td data-th="Product">
                <div class="row">
                    <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
                    <div class="col-sm-10">
                        <h4 class="nomargin" th:text="${rute.getNavn()}"></h4>
                        <p th:text="${rute.getBeskrivelse()}"></p>
                    </div>
                </div>
            </td>
                <input type="number" name="antal" class="form-control text-center" value="1">
                </td>
                <td data-th="Quantity">
                <td data-th="Subtotal" class="text-center" th:text="${rute.getPris()}"></td>
                <td class="actions" data-th="">
                    <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                    <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                </td>
        </tr>
        <td data-th="Price" th:text="${rute.getPris()}"></td>
        </tbody>
        <tfoot>
        <tr class="visible-xs">
            <td class="text-center"><strong>Total 1.99</strong></td>
        </tr>
        <tr>
            <td>
                <input class="size form-control" type="text" name="navn" size="20"
                       placeholder="Full name" autocomplete="false">
            </td>
        </tr>
        <tr>
            <td class="width">
                <input class="size form-control" type="text" name="tlf" size="12"
                       placeholder="Phonenumber" autocomplete="false">
            </td>
        </tr>
        <tr>
            <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue
                reserving
            </a></td>
            <td colspan="2" class="hidden-xs"></td>
            <td class="hidden-xs text-center" th:text="${rute.getPris()}"><strong> Total </strong></td>
            <td><button type="submit" class="btn btn-success btn-block" >Confirm reservation <i
                    class="fa fa-angle-right"></i></button></td>
        </tr>
        </tfoot>
    </table>
    </form>
    <!--<div class="container">
        <form method="post" action="confirmation.html">
            <input class="" name="navn" autofocus autocomplete="false" placeholder="Fulde navn">
            <input class="" name="tlf" autocomplete="false" placeholder="Telefon nummer">
        </form>
    </div> -->
</div>
</html>











